@model IEnumerable<NUEVODOS.Models.Compra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-center" style="font-family:serif; font-weight: bold">COMPRAS</h1>
<div class="px-4">
    <br />
    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["Mensaje"]
            <button type="button" class="close" date-disniss="alert" aria-label="Close">
                <span aria-hidden="true">&times</span>
            </button>
        </div>
    }

    <div class="d-flex align-items-center justify-content-between">
        <div class="col-sm-2">
            <a class="btn btn-info d-block" asp-action="Create" asp-controller="Compras">Nueva compra</a>
        </div>
    </div>
    <br />
    <div class="row">

        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Idcompra)</td>
                        <td>@Html.DisplayNameFor(m => m.Fechacompra)</td>
                        <td>@Html.DisplayNameFor(m => m.Preciocompra)</td>
                        <td>@Html.DisplayNameFor(m => m.Mpcompra)</td>
                        <td>@Html.DisplayNameFor(m => m.Limitacionescompra)</td>
                        <td>@Html.DisplayNameFor(m => m.Ciudadcompra)</td>
                        <td>@Html.DisplayNameFor(m => m.Spcompra)</td>
                        <td>@Html.DisplayNameFor(m => m.PlacaC.Placa)</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Idcompra</td>
                            <td>@item.Fechacompra</td>
                            <td>@item.Preciocompra</td>
                            <td>@item.Mpcompra</td>
                            <td>@item.Limitacionescompra</td>
                            <td>@item.Ciudadcompra</td>
                            <td>@item.Spcompra</td>
                            <td>@item.PlacaC.Placa</td>
                            <td class='d-flex justify-content-center p-2'>
                                <a asp-controller="Compras" asp-action="Edit" asp-route-id="@item.Idcompra" class="btn btn-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>
                                </a>
                                <a asp-controller="Compras" asp-action="Delete" asp-route-id="@item.Idcompra" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </a>
                                <a asp-controller="Compras" asp-action="Details" asp-route-id="@item.Idcompra" class="btn btn-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                    </svg>
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <br />
            <p>No existen compras registradas</p>
        }
    </div>

</div>
